.recover-button {
  --background: #de7e1e; /* Naranja pastel */
  --border-radius: 8px;
  --height: 50px;
  font-weight: bold;
  margin-top: 20px;
  --color: #ffffff; /* Texto blanco */
  transition: background-color 0.3s ease;
}

.recover-button:hover {
  --background: #c96f1a; /* Un tono más oscuro de naranja pastel al pasar el ratón */
  transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón */
}

.recover-button:disabled {
  opacity: 0.5; /* Opacidad reducida para el botón deshabilitado */
  pointer-events: none; /* Deshabilita el clic */
}

.input-item {
  --background: #ffffff; /* Fondo blanco */
  --highlight-color-focused: #de7e1e; /* Naranja pastel */
  --color: #000000; /* Texto negro */
  --border-width: 1px; /* Ancho del borde */
  --border-color: #de7e1e; /* Color del borde */
  --border-radius: 8px; /* Borde redondeado */
}
