<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="input-item">
      <mat-label>Correo Electrónico</mat-label>
      <input matInput type="email" formControlName="email" required>
      <mat-error *ngIf="recoverForm.get('email')?.invalid && recoverForm.get('email')?.touched">
        Introduce un correo válido.
      </mat-error>
    </mat-form-field>

    <p>Se enviará un correo para reestablecer su contraseña.</p>

    <ion-button expand="block" class="recover-button" [disabled]="recoverForm.invalid" type="submit">
      Recuperar Contraseña
    </ion-button>
    
  </form>
</ion-content>
