<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-content">
  <div class="logo-container">
    <div class="circle-logo"></div>
    <h1 class="app-title">Nombre de la App</h1>
  </div>

  <div class="login-form">
    <form>
      <ion-item lines="none" class="input-item">
        <ion-label position="floating" color="medium">Correo Electrónico</ion-label>
        <ion-input type="email" required></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-label position="floating" color="medium">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" class="login-button">Iniciar Sesión</ion-button>

      <ion-button expand="block" fill="outline" class="signup-button">Regístrate</ion-button>
    </form>

    <div class="social-login">
      <p>O conéctate usando</p>
      <div class="social-icons">
        <ion-button fill="clear" color="facebook">
          <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="twitter">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="google">
          <ion-icon slot="icon-only" name="logo-google"></ion-icon>
        </ion-button>
        <ion-button fill="clear" color="dark">
          <ion-icon slot="icon-only" name="logo-apple"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
