<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="register-content">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none">
      <ion-input id="username" formControlName="username" type="text" placeholder="Nombre de Usuario"></ion-input>
    </ion-item>
    <p id="username-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="email" formControlName="email" type="email" placeholder="Correo Electrónico"></ion-input>
    </ion-item>
    <p id="email-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="password" formControlName="password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
    <p id="password-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="confirmPassword" formControlName="confirmPassword" type="password" placeholder="Confirmar Contraseña"></ion-input>
    </ion-item>
    <p id="confirmPassword-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="age" formControlName="age" type="number" placeholder="Edad"></ion-input>
    </ion-item>
    <p id="age-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="height" formControlName="height" type="number" placeholder="Altura (cm)"></ion-input>
    </ion-item>
    <p id="height-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-input id="weight" formControlName="weight" type="number" placeholder="Peso (kg)"></ion-input>
    </ion-item>
    <p id="weight-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-select id="gender" formControlName="gender">
        <ion-select-option value="male">Masculino</ion-select-option>
        <ion-select-option value="female">Femenino</ion-select-option>
        <ion-select-option value="female">Otro</ion-select-option>
      </ion-select>
    </ion-item>
    <p id="gender-error" class="error-message"></p>

    <ion-item lines="none">
      <ion-select id="activityLevel" formControlName="activityLevel">
        <ion-select-option value="low">Bajo</ion-select-option>
        <ion-select-option value="medium">Medio</ion-select-option>
        <ion-select-option value="high">Alto</ion-select-option>
      </ion-select>
    </ion-item>
    <p id="activityLevel-error" class="error-message"></p>

    <ion-button id="submitButton" expand="block" type="submit" class="register-button">Registrarse</ion-button>
  </form>
</ion-content>
