.menu-icon {
  transition: transform 0.3s ease-in-out; /* Agrega una transición suave */
}

.menu-icon[ng-reflect-name="menu"] {
  transform: rotate(0deg); /* Mantén la posición original para el ícono del menú */
}

.menu-icon[ng-reflect-name="arrow-back"] {
  transform: rotate(180deg); /* Gira el ícono cuando sea la flecha */
}
